@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;400;500;700&display=swap');

/* Base Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Readex Pro', sans-serif;
}

a {
    text-decoration: none;
}


/* Utilities */
:root {
    --dominant-color: #00C2FF;
    --secondary-color: #005593;
    --accent-color: #ffae00;
}

.hide {
    display: none;
}

/* layout */
.flex-between-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex {
    display: flex;
}

.flex-col-between {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* spacing */
.p-1 {
    padding: 1em;
}

.p-2 {
    padding: 2em;
}

.p-3 {
    padding: 3em;
}

.p-xl {
    padding: 5em;
}

/* Navigation Bar */
#navigation {
    background: var(--secondary-color);
    height: 70px;
}
