@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;400;500;700&display=swap');

/* Base Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Readex Pro', sans-serif;
    font-size: var(--font-medium);
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: var(--dominant-color);
    font-size: var(--font-medium);
}

i {
    color: var(--secondary-color);
}

ul {
    list-style-type: none;
}

/* Utilities */
:root {
    --dominant-color: #007BC0;
    --secondary-color: #A40505;
    --accent-color: #34B713;
    --nuetral-grey: #d3d3d3;
    --nuetral-white: #ffffff;
    --nuetral-black: #000000;
    --font-medium: 1.15em;
}

.btn-primary {
    background-color: var(--dominant-color);
    color: var(--nuetral-white);
    text-align: center;
    padding: 1em;
}

.btn-secondary {
    border: 2px solid var(--dominant-color);
    color: var(--dominant-color);
    text-align: center;
    padding: 1em;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 1em 2em;
}

/* Navigation Bar */
.navigation-bar .logo {
    width: 5em;
}
.navigation-bar {
    width: 100%;
    position: sticky;
    background: var(--nuetral-grey);
    height: 15vh;
}
.navigation-bar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.menu .menu-links ul {
    display: none;
}
.show-mobile-menu {
    position: absolute;
    top: 15vh;
    left: 0;
    width: 100%;
    height: 85vh;
    max-height: 85vh;
    text-align: center;
    background: var(--nuetral-grey);
    padding: 2.5em;
    overflow: hidden;
    flex-direction: column;
    justify-content: space-between;
}
.show-mobile-menu ul {
    display: flex;
    flex-direction: column;
    height: 60%;
    justify-content: space-between;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
}
.search .search-bar {
    border: 1px solid var(--accent-color);
    width: 70%;
    padding: .8em;
    margin-right: .75em;
    font-size: var(--font-medium);
}
.search .search-bar:focus {
    outline: none;
}
.search .search-icon {
    color: var(--secondary-color);
}

.navigation-bar .menu,
.navigation-bar .x-menu {
    display: none;
}