@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;400;500;700&display=swap');

/* Base Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Readex Pro', sans-serif;
}

a {
    text-decoration: none;
}


/* Utilities */
:root {
    --dominant-color: #00C2FF;
    --secondary-color: #005593;
    --accent-color: #ffae00;
    --nuetral-grey: #d3d3d3;
    --nuetral-white: #ffffff;
    --nuetral-black: #000000;
}

.hide {
    display: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1em 2em;
}

/* layout */
.flex-between-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex {
    display: flex;
}

.flex-col-between {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Navigation Bar */
#navigation-bar {
    background-color: var(--nuetral-grey);
    width: 100%;
    position: fixed;
}


/* Media Query */
@media (max-width: 360px) {
    #logo img {
        width: 175px;
    }
}
@media screen and only (min-width: 768px) {
    
}